            .covid-chat{
                padding: 16px 20px;
      border: none;
      cursor: pointer;

    position: fixed;
    z-index: 999;
      bottom: 23px;
      right: 28px;


            }
            .covid-out{
                height: 700px; width:390px;
            background-color: white;
                max-width: 100%;
                padding: 16px 20px;
      border: none;
      cursor: pointer;
    position: fixed;
    z-index: 999;
      bottom: 23px;
      right: 28px;
      display: none;
            }



            .embedded-chat{
                height: 690px; width:390px;
                border-radius: 5%;

            }
            @media (max-width: 1025px) {  
                .chat-icon{
                    width: 17%!important;
                    max-width: 17%!important;
                }
                
                .covid-chat{
                padding: 5px 5px;
      border: none;
      cursor: pointer;
    position: fixed;
    z-index: 999;
      bottom: 10px;
      right: 10px;


            }
            .covid-out{
                height: 95%; width:100%;
            
                max-width: 100%;
                padding: 0;
                padding-bottom: 5%;
      border: none;
      cursor: pointer;
    position: fixed;
    z-index: 999;
      bottom: 0;
      right: 0;
      display: none;
            }



            .embedded-chat{
                height: 100%; width:100%;
                border-radius: 5%;

            }

            }
